---
layout: default
title: Botiga
---

<header class="clean" style="height: 350px; background-image: url({{ site.cover }});" data-stellar-background-ratio="0.5" data-stellar-horizontal-offset="50">
	{% include top.html %}
	<a href="{{ site.url }}">
		<div id="home-title" class="site-icon-home" style="background-image: url({{ site.icon }});" data-stellar-ratio="0.5"></div>
	</a>
</header>
<div id="middle">
	{% include shop.html %}	
</div>
<footer class="clean" style="background-image: url({{ site.cover }}); background-position: bottom; height: 60px;">
	<p class="copyright">&copy;{{ site.time | date: "%Y" }}, <a href="{{ site.copyright.url }}">{{ site.copyright.author }}</a>. <a href="{{ site.copyright.type_url }}" target="_blank">{{ site.copyright.type_title }}</a>. Una iniciativa de <a href="{{ site.copyright.author_origin_url }}" target="_blank">{{ site.copyright.author_origin }}</a>. Creat per <a href="{{ site.copyright.author_agency_url }}" target="_blank">{{ site.copyright.author_agency }}</a></p>
</footer>
