
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap-custom.min.css" />
	<link rel="stylesheet" type="text/css" media="only screen and (min-width: 900px)" href="/assets/css/desktop.min.css" />
	<link rel="stylesheet" type="text/css" media="only screen and (max-width: 899px)" href="/assets/css/mobile.min.css" />
	<link href="/assets/css/genericons.min.css" type="text/css" rel="stylesheet" />
	<link href="/assets/css/syntax.min.css" type="text/css" rel="stylesheet" />
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Fenix:400,400italic">
	<link rel="apple-touch-icon" href="{{ site.url }}{{ site.icon }}">
	<link rel="shortcut icon" href="{{ site.url }}/assets/images/favicon.ico">
	<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.url }}/atom.xml">
	<meta name="google-site-verification" content="dxHJfJrwqWqaCiGZcfJ6xGM5n15rRRgS6ae699FLo3w" />	
	<script type="text/javascript" src="/assets/js/jquery-2.1.0.min.js"></script>
	<script type="text/javascript" src="/assets/js/jquery.stellar.min.js"></script>
	<script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>