<head lang="ca">
	{% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% elsif site.permalink contains category_dir %}{{ '/' | page.url | remove:'index.html' | '/' }}{% else %}{{ page.url | remove:'index.html' | '/' }}{% endif %}{% endcapture %}
	<link href="//gmpg.org/xfn/11" rel="profile">
	<meta http-equiv="content-type" content="text/html; charset=utf-8">{% if page.article %}
	<link rel="canonical" href="{{ canonical }}" />
	<meta name="description" content="{% if page.quote %}{{ page.quote }}{% else %}{{ page.content | strip_html | truncatewords: 20 }}{% endif %}" />
	<meta property="og:description" content="{% if page.quote %}{{ page.quote }}{% else %}{{ page.content | strip_html | truncatewords: 20 }}{% endif %}" />
	<meta itemprop="image" content="{% if page.image.url %}{{ site.url }}{{ page.image.url }}{% else %}{{ site.url }}{{ site.icon }}{% endif %}" />
	<meta property="og:image" content="{% if page.image.url %}{{ site.url }}{{ page.image.url }}{% else %}{{ site.url }}{{ site.icon }}{% endif %}" />
	<meta property="og:title" content="{{ page.title }}" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="{{ canonical }}" />
	<meta property="og:site_name" content="{{ site.title }}" />{% endif %}
	<title>{% if page.title == "Home" %}{{ site.title }} &middot; {{ site.tagline }}{% else %}{{ page.title }} &middot; {{ site.title }}{% endif %}</title>
  	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  	<meta name="mobile-web-app-capable" content="yes">
  	<meta name="apple-mobile-web-app-capable" content="yes">
  	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="HandheldFriendly" content="True" />
	<meta name="MobileOptimized" content="320" />
</head>